.background{
    background: hsla(212, 35%, 58%, 1);

    background: linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6D90B9", endColorstr="#BBC7DC", GradientType=1 );
}
.side{
    box-shadow: 5px 4px 15px rgba(21, 34, 54, 0.5);
        background: hsla(211, 37%, 16%, 1);

    background: linear-gradient(90deg, hsla(211, 37%, 16%, 1) 0%, hsla(218, 10%, 52%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(211, 37%, 16%, 1) 0%, hsla(218, 10%, 52%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(211, 37%, 16%, 1) 0%, hsla(218, 10%, 52%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1A2939", endColorstr="#778090", GradientType=1 );
}
